
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nabla&display=swap');

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main-header {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid yellow;
  font-size: 36px;
}

.header-title {
  font-size: 36px;
  font-family: 'Bebas Neue', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin: 0;
  color: yellow;
}

.section {
  padding: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid yellow;
  margin-top: 30px; /* Agregado para crear espacio entre el header y la primera sección */
}

.section h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 29px;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  display: inline-block;
  opacity: 0.8;
  text-align: center;
  color: yellow; /* Color amarillo para el texto de los h2 */
}


   .product {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(255, 255, 0, 0.3);
}

.product img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

p {
  margin: 5px 0;
}
